*.exe
build/release/IWP-5.0-macOS-RC3/bin/InstantWP.app
iwp
ssh-term
IWPQEMUTelnet
IWPSSHCommand
iwpcli
IWPHostServ
*.qcow2
core/controlpanel/compiled
core/bin/InstantWP.app
core/platform/osx/qemu
build/release
core/platform/win/nircmd
core/platform/win/qemu
core/platform/win/sync/LICENSE.txt
core/platform/win/sync/sync.pid
core/platform/win/sync/WinSCP.com
core/platform/win/sync/WinSCP.ini
*.dll
core/platform/win/FSharp.Core.xml
core/platform/win/IWPQEMUTelnet.exe.config
core/platform/win/IWPQEMUTelnet.pdb
core/platform/win/IWPQEMUTelnet.XML
core/platform/win/IWPSSHCommand.exe.config
core/platform/win/IWPSSHCommand.pdb
core/platform/win/IWPSSHCommand.XML
core/platform/win/Rebex.Common.xml
core/platform/win/Rebex.Networking.xml
core/platform/win/Rebex.SshShell.xml
core/platform/win/Rebex.Telnet.xml
core/platform/win/Rebex.Terminal.xml
gui/InstantWP.app
iwpserver-1.1.qcow2.zip
iwpserver-2.0.qcow2.zip
core/vm/older-versions
core/controlpanel/IWPControlPanel.app
Pharo-dev.changes
Pharo-dev.image
Pharo.clean-image
PharoV50.sources
PharoDebug.log
InstantWP.changes
InstantWP.image
Pharo-prod.changes
Pharo-prod.image
core/controlpanel/InstantWP.app
core/controlpanel/distribute/lib/plt/InstantWP/exts/ert/r0/dh4096.pem
InstantWP.app
core/Start-InstantWP.app
core/vm/old/iwpserver-2.0.1.qcow2.old
working
Thumbs.db
*.bak
core/platform/win/kitty.ini
core/platform/win/Sessions/Default%20Settings
core/platform/win/SshHostKeys/ssh-ed25519@10022%3A127.0.0.1
