*.exe
build/release/IWP-5.0-macOS-RC3/bin/InstantWP.app
iwp
ssh-term
IWPQEMUTelnet
IWPSSHCommand
iwpcli
IWPHostServ
*.qcow2
core/bin/InstantWP.app
core/platform/osx/qemu
build/release
core/platform/win/nircmd
core/platform/win/qemu
core/platform/win/sync/LICENSE.txt
core/platform/win/sync/sync.pid
core/platform/win/sync/WinSCP.com
core/platform/win/sync/WinSCP.ini
*.dll
core/platform/win/FSharp.Core.xml
core/platform/win/IWPQEMUTelnet.exe.config
core/platform/win/IWPQEMUTelnet.pdb
core/platform/win/IWPQEMUTelnet.XML
core/platform/win/IWPSSHCommand.exe.config
core/platform/win/IWPSSHCommand.pdb
core/platform/win/IWPSSHCommand.XML
core/platform/win/Rebex.Common.xml
core/platform/win/Rebex.Networking.xml
core/platform/win/Rebex.SshShell.xml
core/platform/win/Rebex.Telnet.xml
core/platform/win/Rebex.Terminal.xml
gui/InstantWP.app
